/* Стили для админ-панели WP Price Manager */
.wrap table.form-table {
    max-width: 600px;
}
.wp-list-table {
    width: 100%;
    margin-top: 20px;
}
.wp-list-table th, .wp-list-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
.wppm-drag-handle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wppm-order-col{
    width:6em;
}

.wppm-info-icon {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #0073aa;
    color: #fff;
    font-weight: bold;
}

.wppm-tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    z-index: 9999;
}

.wppm-tooltip .wppm-close {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 5px;
    color: #fff;
}

.wppm-extra-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.wppm-extra-field label {
    margin: 0 5px 0 0;
}
