/* Стили для админ-панели WP Price Manager */
.wrap table.form-table {
    max-width: 600px;
}
.wp-list-table {
    width: 100%;
    margin-top: 20px;
}
.wp-list-table th, .wp-list-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
.wppm-order-col{
    width:6em;
}

.wppm-hidden-row {
    display: none;
}

.wppm-custom-settings {
    display: none;
}


.wp-list-table th { position: relative; }
.wp-list-table .wppm-header-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
}



.wppm-extra-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
.wppm-extra-field label {
    margin: 0 5px 0 0;
}

.wppm-save-desc-wrapper {
    margin-top: 10px;
}
