/* Стили для фронтенд-виджета прайс-листа */
.wppm-price-list-widget table {
    width: 100%;
}
.wppm-price-list-widget th { position: relative; }
.wppm-header-icon {
    position: relative;
    top: 0;
    margin-left: 0;
}
.wppm-hidden-row {
    display: none;
}



@media(max-width:768px){
    .wppm-price-list-widget th { position: relative; }
    .wppm-price-list-widget .wppm-header-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
    }
}

